* {
  background-image: none;
}

window {
  background-color: rgba(17, 17, 27, 0.85);
}

button {
  color: #d5c4a1;
  font-weight: 900;
  font-style: italic;
  background-color: #282828;
  outline-style: none;
  border: none;
  border-width: 0px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10%;
  border-radius: 0px;
  box-shadow: none;
  text-shadow: none;
  animation: gradient_f 20s ease-in infinite;
}

button:focus {
  background-color: #fb4934;
  background-size: 20%;
}

button:hover#lock {
  background-color: #689d6a;
  background-size: 25%;
  margin-right: 30px;
  margin-bottom: 30px;
  border-radius: 20px;
  color: #32302f;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.28, 1.682);
}

button:hover#logout {
  background-color: #b16286;
  color: #32302f;
  background-size: 25%;
  margin-right: 30px;
  margin-left: 30px;
  margin-bottom: 30px;
  border-radius: 20px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.28, 1.682);
}

button:hover#shutdown {
  background-color: #cc241d;
  background-size: 25%;
  color: #32302f;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
  border-radius: 20px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.28, 1.682);
}

button:hover#reboot {
  background-color: #fabd2f;
  background-size: 25%;
  color: #32302f;
  margin-left: 30px;
  margin-top: 30px;
  border-radius: 20px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.28, 1.682);
}

button:hover#suspend {
  background-color: #fe8019;
  background-size: 25%;
  margin-left: 30px;
  color: #32302f;
  margin-bottom: 30px;
  border-radius: 20px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.28, 1.682);
}

button:hover#hibernate {
  background-color: #d3869b;
  background-size: 25%;
  margin-right: 30px;
  margin-top: 30px;
  border-radius: 20px;
  color: #32302f;
  animation: gradient_f 20s ease-in-out infinite;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.28, 1.682);
}

#lock {
  background-image: image(
    url("/usr/share/wlogout/icons/lock.png"),
    url("/usr/local/share/wlogout/icons/lock.png")
  );
  border-top-left-radius: 50px;
}

#logout {
  background-image: image(
    url("/usr/share/wlogout/icons/logout.png"),
    url("/usr/local/share/wlogout/icons/logout.png")
  );
}

#shutdown {
  background-image: image(
    url("/usr/share/wlogout/icons/shutdown.png"),
    url("/usr/local/share/wlogout/icons/shutdown.png")
  );
}

#reboot {
  background-image: image(
    url("/usr/share/wlogout/icons/reboot.png"),
    url("/usr/local/share/wlogout/icons/reboot.png")
  );
  border-bottom-right-radius: 50px;
}

#suspend {
  background-image: image(url("/usr/share/wlogout/icons/suspend.png"));
  border-top-right-radius: 50px;
}

#hibernate {
  background-image: image(url("/usr/share/wlogout/icons/hibernate.png"));
  border-bottom-left-radius: 50px;
}
